body {
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 35vh;
}

b{
    font-weight: 550;
    font-size: 16px;
}

.App{
    padding: 16px;
    border-radius: 20px;
    background-color: #D9D9D9;
    line-height: 150%;
    font-weight: 400;
    font-size: 18px;
    color: black;
    font-family: "Work Sans";
}